opentelemetry output plugin with 'http2: on' and IPv6 address generates wrong ':authority' header

## Bug Report

**Describe the bug**
According to [RFC7540](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.3) HTTP2 header `:authority` must be compliant to [RFC3986, Section 3.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2).

With IPv6 address as a destination host 'opentelemetry' output plugin generates wrong `:authority` with missing brackets ("[" and "]") around IP literal:
":authority: 2001:db8:1::100:443"
instead of 
":authority: [2001:db8:1::100]:443"

I've noticed it after upgrading nginx: since 1.29.4 it [returns](https://github.com/nginx/nginx/commit/511abb19e1e1b127f6d0943ccac346211a490a35) error 400 in such cases.

DeepWiki says the problem is in new HTTP client API code ([flb_http2_request_commit()](https://github.com/fluent/fluent-bit/blob/992a4e5c8f7087d31cff8c325cd2b6a1580d0fc9/src/flb_http_client_http2.c#L571)) and might hit other plugins too

**To Reproduce**

opentelemetry output plugin config:
```
    - name: opentelemetry
      alias: vmetrics_otel
      host: [2001:db8:1::100]
      port: 443
      metrics_uri: /opentelemetry/v1/metrics
      http2: on

      tls: on
      tls.verify: on
      tls.verify_hostname: off
      tls.ca_file: /fluent-bit/etc/tls/rootca.pem
      tls.crt_file: /fluent-bit/etc/tls/fluent-bit/cert.pem
      tls.key_file: /fluent-bit/etc/tls/private/fluent-bit/key.pem
```

Fluent Bit log:
```
[2026/05/31 07:58:38.412977215] [debug] [output:opentelemetry:vmetrics_otel] cmetrics msgpack size: 13707
[2026/05/31 07:58:38.414188510] [debug] [output:opentelemetry:vmetrics_otel] cmetric_id=0 decoded 0-4569 payload_size=4301
[2026/05/31 07:58:38.414927933] [debug] [output:opentelemetry:vmetrics_otel] cmetric_id=1 decoded 4569-9138 payload_size=4301
[2026/05/31 07:58:38.415646731] [debug] [output:opentelemetry:vmetrics_otel] cmetric_id=2 decoded 9138-13707 payload_size=4301
[2026/05/31 07:58:38.415702251] [debug] [output:opentelemetry:vmetrics_otel] final payload size: 12903
[2026/05/31 07:58:38.489063705] [error] [output:opentelemetry:vmetrics_otel] 2001:db8:1::100:443, HTTP status=400
<html>
<head><title>400 Bad Request</title></head>
<body>
<center><h1>400 Bad Request</h1></center>
<hr><center>nginx</center>
</body>
</html>

[2026/05/31 07:58:38.489477349] [debug] [output:opentelemetry:vmetrics_otel] http_post result FLB_ERROR
[2026/05/31 07:58:38.490276719] [ info] [storage] quarantined rejected chunk into DLQ stream (bytes=13707)
```

nginx error_log:
```
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 idle handler
2026/05/31 06:55:38 [debug] 93#93: *105188 reusable connection: 0
2026/05/31 06:55:38 [debug] 93#93: *105188 posix_memalign: 000055887C03BAE0:4096 @16
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 read handler
2026/05/31 06:55:38 [debug] 93#93: *105188 SSL_read: 8716
2026/05/31 06:55:38 [debug] 93#93: *105188 SSL_read: -1
2026/05/31 06:55:38 [debug] 93#93: *105188 SSL_get_error: 2
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 frame type:4 f:1 l:0 sid:0
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 SETTINGS frame
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 frame complete pos:000055887C133009 end:000055887C13520C
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 frame type:1 f:4 l:87 sid:1
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 HEADERS frame sid:1 depends on 0 excl:0 weight:16
2026/05/31 06:55:38 [debug] 93#93: *105188 posix_memalign: 000055887BF44920:1024 @16
2026/05/31 06:55:38 [debug] 93#93: *105188 posix_memalign: 000055887C0440A0:4096 @16
2026/05/31 06:55:38 [debug] 93#93: *105188 posix_memalign: 000055887BF91B30:4096 @16
2026/05/31 06:55:38 [debug] 93#93: *105188 event timer del: 35: 133381577
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 get indexed header: 3
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 header: ":method: POST"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 get indexed header: 7
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 header: ":scheme: https"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 get indexed name: 1
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 encoded string, len:29
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 table add: ":authority: 2001:db8:1::100:443"
2026/05/31 06:55:38 [debug] 93#93: *105188 malloc: 000055887C04C5A0:512
2026/05/31 06:55:38 [debug] 93#93: *105188 malloc: 000055887BF7F430:4096
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 table account: 81 free:4096
2026/05/31 06:55:38 [debug] 93#93: *105188 posix_memalign: 000055887C093B70:512 @16
2026/05/31 06:55:38 [info] 93#93: *105188 client sent invalid ":authority" header while reading client request headers, client: 2001:db8:1::200, server: vmetrics.pg1.internal
2026/05/31 06:55:38 [debug] 93#93: *105188 http finalize request: 400, "?" a:1, c:1
2026/05/31 06:55:38 [debug] 93#93: *105188 http special response: 400, "?"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 header filter
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 output header: ":status: 400"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 output header: "server: nginx"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 output header: "date: Sun, 31 May 2026 06:55:38 GMT"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 output header: "content-type: text/html"
2026/05/31 06:55:38 [debug] 93#93: *105188 http2 output header: "content-length: 150"
```

**Expected behavior**
Fluent bit should work with IPv6 addresses correctly

**Your Environment**
* Version used: 5.0.5
* Environment name and version (e.g. Kubernetes? What version?): Podman rootless container
* Server type and version: 
* Operating System and version: Debian 13
* Filters and plugins: opentelemetry output plugin

**Additional context**


thanks for the report, working in a solution here: https://github.com/fluent/fluent-bit/pull/11922